@font-face {
  font-family: 'MilkyVintage';
  src: url("fonts/MilkyVintage-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  align-content: center;
  align-items: center;
  vertical-align: middle;
  background-image: url('assets/bg.png');
  background-size: cover;
}

h1 {
  font-family: 'MilkyVintage';
  font-size: 6vw;
  margin: 0;
  margin-bottom: -15px;
  color: rgb(0, 0, 0);
}

h2 {
  color: black;
  overflow: hidden; 
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
}

.h2-container {
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

.background-block {
  background-color: rgb(142, 179, 195);
  border-radius: 10px;
  border-width: 10px;
  border-color: black;
  border-style: solid;
  min-height: 97vh;
  min-width: 646px;
  max-height: fit-content;
  max-width: fit-content;
  padding: 10px;
  margin: 0 auto;
}

h1, h2, h3{
  text-align: center;
}

img {
  position: absolute;
  z-index: 2;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-reference {
  font-size: 0.8em;
  text-align: center;
  left: 45%;
  bottom: 5vh;
  position: fixed;
}

.directions {
  visibility: hidden;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15vw;
  z-index: 9999;
  text-align: center;
  font-family: 'MilkyVintage';
}

#canvas {
  border: 10px solid #000;
  border-radius: 18px;
  display: block;
  margin: 0 auto;
} 

.animal-reveal{
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15vh;
  padding: 10px;
  z-index: 9999;
  text-align: center;
  font-family: 'MilkyVintage';
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-shadow: 4px 4px 0 white;
}

.subtext {
  position: fixed;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 1px 1px 0 white;
  z-index: 9999;
  text-align: center;
  font-size: 8vh;
  transform: translate(-50%, -50%);
  top: 80%;
  left: 50%;
  margin-top: 50px;
  font-family: 'MilkyVintage';
  
}